* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Jost', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.arrow-start {
  position: fixed;
  margin-left: 95vw;
  margin-top: 90vh;
  z-index: 1;
}

.arrow-start:hover {
  transition: all 0.2s ease-in-out;
  box-shadow: 0 0 30px #ff0000, inset 0 0 100px #ffffff;
  border-radius: 50%;
  transform: translateY(-15%);
}

.nav-menu {
  display: flex;
  justify-content: center;
  flex-direction: row;
  position: fixed;
  min-width: 100vw;
  gap: 50px;
  padding: 20px 50px 15px 0;
  background: rgba(0, 0, 0, 0.69);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.3px);
  -webkit-backdrop-filter: blur(8.3px);
  border: 1px solid rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.nav-btn {
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  color: rgb(255, 255, 255);
}

.nav-btn:hover {
  text-shadow: 0 0 20px #ff0000;
  color: #ff0000;
  transition: all 0.2s ease-in-out;
  transform: scale(1.1);
}

.nav-btn:active {
  transition: all 0.5s ease-in-out;
  transform: scale(1.2);
}

.head-principal {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-image: url("./assets/vitrine-de-produtos-com-fundo-de-sala-de-estudio-preto-em-destaque-como-montagem-para-exibicao-de-produtos.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.information-head {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding-left: 20%;
}

.social-media{
  display: flex;
  gap: .7rem;
}
.link-git{
  height: max-content;
  width: max-content;
}

.linkedinimg:hover, .githubImg:hover {
  transform: translateY(-15%);
  transition: all 0.5s ease-in-out;
  box-shadow: 0 0 30px #ff0000, inset 0 0 100px #ff0000;
  border-radius: 100px;
  color: #fff;
}

.boasVindas {
  color: white;
  font-size: 25px;
}

.minhaFuncao {
  text-align: center;
  font-weight: bold;
  color: #ff0000;
  text-shadow: 0 0 15px #ff0000;
  font-size: 30px;
  padding-bottom: 10px;
  border-right: 4px solid;
  width: 15ch;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2s steps(17), blinking 0.5s infinite step-end alternate ;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blinking {
  50% {
    border-color: transparent;
  }
}

.meuNome {
  color: white;
  font-weight: bold;
  font-size: 40px;
  letter-spacing: 5px;
}

.img-div {
  position: absolute;
  right: 15%;
  bottom: 25%;
  top: 25%;
}

.head-img {
  width: 450px;
  border-radius: 50%;
}

.about-me {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
}

.my-prof {
  width: 280px;
  height: 250px;
  box-shadow: 0 0 10px #ff0000, 0 0 10px #ff0000 ;
  border-radius: 50%;
}

.myBio {
  color: #000000;
  text-align: center;
  font-size: 25px;
  padding: 10px 0;
}

.bioDesc {
  font-size: 20px;
  text-align: center;
  width: 1300px;
  padding-bottom: 20px;
}

.buttonCV {
  border: 2px solid red;
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 50px;
  background-color: #ffffff;
  color: red;
  font-weight: bolder;
}

.buttonCV:hover {
  background-color: #ff0000;
  box-shadow: 0 0 30px #ff0000, inset 0 0 50px #ff0000;
  text-shadow: 0 0 15px #ff0000;
  color: #fff;
  transition: all 0.5s ease-in-out;
  transform: scale(1.1);
}

.buttonCV:active{
  background-color: #000000;
  box-shadow: 0 0 50px #000000, inset 0 0 50px #000000;
  text-shadow: 0 0 15px #000000;
  color: #fff;
  border: 2px solid white;
  transform: scale(1.1);
}

.skills {
  display: flex;
  height: 50vh;
  justify-content: center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url("./assets/vitrine-de-produtos-com-fundo-de-sala-de-estudio-preto-em-destaque-como-montagem-para-exibicao-de-produtos.jpg");
}

.mySkills {
  text-align: center;
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  padding-top: 70px;
  padding-bottom: 20px;
}

.projetos {
  display: flex;
  height: 125vh;
  justify-content: center;
  padding-top: 50px;
}

.projects h3 {
  text-align: center;
  font-size: 50px;
  letter-spacing: 10px;
  text-transform: uppercase;
}

.cliqueInImage {
  color: #ff0000;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 25px;
  margin-top: 30px;
}

.projects p {
  text-align: center;
  font-size: 20px;
  color: #ff0000;
}

.boxImages {
  padding-top: 30px;
  width: 50%;
  display: flex;
  height: 20px;
  gap: 5px;
}

.projectImgs {
  border: 5px solid rgb(255, 0, 0);
  filter: grayscale(100%);
  width: 100px;
  height: 500px;
  object-fit: cover;
  border-radius: 10px;
  transition: all ease-out 0.5s;
  cursor: pointer;
}

.textTopImage {
  position: sticky;
}

.projectImgs:hover {
  width: 800px;
  filter: grayscale(0%);
  box-shadow: 0 0 70px #ff0000, inset 0 0 80px #ff0000;
}

.contact {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  padding-top: 150px;
  background-image: url("./assets/vitrine-de-produtos-com-fundo-de-sala-de-estudio-preto-em-destaque-como-montagem-para-exibicao-de-produtos.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.contact h3 {
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 10px;
  color: #fff;
}

.contact h4 {
  padding-top: 50px;
  color: #ff0000;
  font-size: 30px
}

.info-contact-container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.paragraphContact {
  font-size: 20px;
  text-align: center;
  width: 1300px;
  padding-bottom: 20px;
  color: white;
}

.mail, .phone {
  display: flex;
  align-items: center;
  color: white;
}

.imgContactPhone, .imgContactEmail {
  width: 50px;
  padding-right: 10px;
}

.about-me, .skills, .projetos, .contact {
  visibility: hidden;
}

.DivFoot {
  text-align: center;
  padding: 15px;
  color: #fff;
  background-color: #a70c0c;    
}

/* Response 700px */
@media (max-width: 915px) {
  .nav-menu {
    display: none;
  }
  
  *{
    max-width: 100vw;
  }

  .arrow-start {
    position: fixed;
    margin-left: 85vw;
  }

  .head-principal {
    height: 100vh;
    width: 100vw;
    background-size: 2000px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 50px;
  }

  .head-img {
    width: 250px;
  }

  .img-div {
    position: absolute;
    right: 35%;
    left: 32%;
    top: 10%;
  }
  
  .information-head {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
  }
  
  .about-me {
    display: flex;
    flex-direction: column;
    height: 85vh;
    align-items: center;
    padding: 20px 40px 0px 40px;
  }
  
  .myBio {
    font-size: 30px;
  }

  .bioDesc {
    font-size: 20px;
    text-align: center;
    width: 300px;
  }

  .skills {
    justify-content: center;
    margin-top: 500px;
    height: 230px;
  }

  .mySkills {
    padding-top: 30px;
  }

  .skills-icons {
    width: 90px;
    padding-right: 20px;
  }

  .skills-conteiner {
    height: 20px;
  }

  .cliqueInImage {
    display: none;
  }

  .boxImages {    
    display: none;
  }

  .contact {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    height: 115vh;
    align-items: center;
    justify-content: start;
    background-size: 500%;
    background-repeat: no-repeat;
    background-image: url("./assets/vitrine-de-produtos-com-fundo-de-sala-de-estudio-preto-em-destaque-como-montagem-para-exibicao-de-produtos.jpg");
  }

  .contact h3 {
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 10px;
    color: #fff;
  }
  
  .contact h4 {
    padding-top: 5px;
    color: #ff0000;
    font-size: 30px
  }
  
  .info-contact-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
  }
  
  .paragraphContact {
    font-size: 20px;
    text-align: center;
    width: 300px;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 20px;
    color: white;
  }
  
  .mail, .phone {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    color: white;
    margin-left: 20px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-align: center;
  }
  
  .imgContactPhone, .imgContactEmail {
    width: 40px;
    display: flex;
  }

  .contact-information {
    padding-right: 20px;
  }

  .DivFoot {
    text-align: center;
    padding: 15px;
    color: #fff;
    background-color: #a70c0c;    
  }
  
}


/* Response 500px */
@media screen and (min-width: 400px) and (max-width: 620px) {

  .head-principal {
    height: 100vh;
    width: 100vw;
    background-size: 2000px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
  }

  .social-media {
    gap: 40px;
  }

  .head-img {
    width: 250px;
  }

  .img-div {
    position: absolute;
    right: 32%;
    left: 27%;
    top: 10%;
  }
  
  .information-head {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
  }
  
  .about-me {
    display: flex;
    flex-direction: column;
    height: 90vh;
    align-items: center;
    padding: 20px 40px 0px 40px;
  }
  
  .myBio {
    font-size: 30px;
  }

  .bioDesc {
    font-size: 20px;
    text-align: center;
    width: 300px;
  }

  .skills {
    justify-content: center;
    margin-top: 500px;
    height: 230px;
  }

  .mySkills {
    padding-top: 30px;
  }

  .skills-icons {
    width: 90px;
    padding-right: 15px;
    padding-left: 15px;
  }

  
  .mail, .phone {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    color: white;
    margin-left: 20px;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    text-align: center;
  }

 }